html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-areas:
        "h h"
        "a m"
        "ft ft";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 100px auto 300px;
}

body > footer {
    grid-area: ft;
}
body > header {
    grid-area: h;
}
body > aside {
    grid-area: a;
}
body > main {
    grid-area: m;
}