.gallery img {
    border: 1px solid red;
}

aside a img {
    border: 1px solid blue;
}


footer, header {
    background-color: #494949;
    color: white;
    padding: 10px;
}

.more_footer{
    height:25px
}

.meniu_item {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
    border-right: 1px solid white;
}
.meniu_item:last-child {
    border-right: none;
}

body > aside {
    border: 1px solid lightgray;
}