nav a {
    text-decoration: none;
    text-transform: uppercase;
}

.gallery img {
    border: 1px solid red;
}

aside a img {
    border: 1px solid blue;
}


footer, header {
    background-color: #494949;
    color: white;
    padding: 10px;
}

.more_footer{
    height:25px
}

/* nav > a */
body > header > nav > * {
    color: white;
    padding: 0 10px;
    border-right: 1px solid white;
}
body > header > nav > *:last-child {
    border-right: none;
}

.test {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
