/* Extra maži įrenginiai (telefonai, 600px ir žemiau) */
@media only screen and (max-width: 600px) {
    /*
     * Pasiekus Extra mazu irenginiu ekrano rezoliucija
     * perrasome BODY tago 'grid-template-areas' taysykle
     */
    body {
        grid-template-areas:
            "h h"
            "m m"
            "ft ft";
    }

    /* pasliapiame aside taga */
    body > aside {
        display: none;
    }

    /* Pasliapiame .desktop klase turincius elementus */
    .desktop {
        display: none;
    }

    /* Atvaizduojame .mobile klase turincius elementus */
    .mobile {
        display: block;
    }

    /* Pasliapiame .burger klase turincius elementus */
    .mobile .meniu {
        display: none;
    }

    /*
     * Atvaizduojame .burger klase turincius elementus, kai
     * uzvedama pele ant elemento su .burger klase
     */
    .burger:hover .meniu {
        display: block;
    }

    /*
     * nustatomas .meniu klases elementu stilius
     */
    .burger .meniu {
        background-color: deeppink;
    }
}

/* Vidutiniai įrenginiai (gulsčios planšetės ar maži laptopai, 768px ir aukščiau) */
@media only screen and (min-width: 768px) {
    body {
        grid-template-areas:
            "h h"
            "a a"
            "m m"
            "ft ft";
    }
}

/* Extra dideli įrenginiai (dideli laptopai ir stalinai PC, 1200px ir aukščiau) */
@media only screen and (min-width: 1200px) {
    body {
        grid-template-areas:
            "h h"
            "m m"
            "a a"
            "ft ft";
    }
}