.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 150px 150px 150px;
}

body {
    grid-template-areas:
        "h h"
        "m m"
        "ft ft";
}
