.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 150px;
}

body {
    grid-template-areas:
        "h h"
        "m m"
        "ft ft";
}

.gallery > div {
    overflow: hidden;
}
.gallery > div  > img {
    max-width: 100%;
    max-height: 100%;
}
